@model AutoCareInc.Models.Invoice

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.InvoiceID)

        <div class="form-group">
            <label class="control-label col-md-2" for="InvoiceDate">Invoice Date:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="The field InvoiceDate must be a date." data-val-required="The InvoiceDate field is required." id="InvoiceDate" name="InvoiceDate" type="datetime" value="@Model.InvoiceDate" />
                <span class="field-validation-valid text-danger" data-valmsg-for="InvoiceDate" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="InvoiceNotes">Invoice Notes:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="InvoiceNotes" name="InvoiceNotes" type="text" value="@Model.InvoiceNotes" />
                <span class="field-validation-valid text-danger" data-valmsg-for="InvoiceNotes" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CustomerFname">Customer:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="CustomerFname" name="CustomerFname" type="text" value="@Model.Customer.CustomerFname" />
                <span class="field-validation-valid text-danger" data-valmsg-for="CustomerFname" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
